.btn {
    background: linear-gradient(to bottom, #f5dfdb, transparent);
    color: #183d49;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    border: none;
}

.btn-bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
}

.btn-med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.btn-home {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.btn-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn:hover {
    cursor: pointer;
}

.btn-home:hover {
    transform: scale(1.1);
}

.btn-home:hover::before {
    opacity: 1;
}